@import "../../../styles/blog-theme.scss";

.container {
  min-width: 320px;
  max-width: 800px;
  min-height: 600px;
  margin: auto;
}

mat-list {
  margin-bottom: 10px;
}

.blogs-container {
  .blog-content {
    margin: 5px;
    .image-container {
      height: 300px;
      min-width: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .description-container {
      min-width: 300px;
      height: 300px;
      h4 {
        height: 110px;
        font-size: 16px;
        line-height: 1.5em;
        margin: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
         max-height: 6em;
      }
      .action-btns {
        height: 50px;
        width: 100%;
        button {
          float: right;
          color: $white;
          background: $theme-bg-color;
          font-weight: 100;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
