.blog-header {
  height: 80px !important;
}

.brand {
  a {
    text-decoration: none;
  }
  .brand-logo {
    color: #00B7FF;
    border: 3px solid;
    font-weight: 300 !important;
    padding: 10px;
  }
}

