@import '~@angular/material/theming';
// Import your custom theme
@import 'src/styles.scss';

.container {
  min-height: 800px;
}

.hero-container {
  .hero-image {
    background-image: url('/assets/imgs/hero-banner.png');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-quote {
      position: absolute;
      text-align: center;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      border: 1px solid;
      padding: 10px;
      h5 {
        font-weight: 300;
        font-size: 32px;
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }

  .hero-button {
    position: absolute;
    width: 100%;
    top: 60%;
    h5 {
      font-size: 18px;
      color: #fff !important;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    text-align: center;
    button {
      background: mat-color($custom-primary, 600);
    }
  }
}

.blog-section {
  margin-left: 50px;
}

.blog-card {
  background: #271919;
  height: 430px;
  max-height: 430px;
  .mat-card-content {
    p {
      font-size: 16px;
      line-height: 2em;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 8em;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}

.mat-card>.mat-card-actions:last-child#blog {
  margin-bottom: 25px !important;
  padding-bottom: 0;
}

#blog .mat-card-actions {
  margin-left: 0;
  margin-right: 0;
  padding: 8px 0;
}

#read-more-btn {
  bottom: 0;
  position: absolute;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.profile-card {
  background: #232222 !important;
  width: 400px;
  height: 300px;
  margin: 20px;
  .profile-initial {
    height: 150px;
    color: #000000;
    text-align: center;
    width: 100%;
    span {
      line-height: 150px;
      font-size: 72px;
      border: 1px solid;
      border-radius: 50%;
      padding: 5px 20px 5px 20px;
      background: #281919;
      color: #fff;
      border-color: #281919;
    }
  }
}
.message-container {
  border-radius: 7px;
}


.icons-container {
  border-radius: 7px;
  margin: 10px;
  height: 25px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li {
    float: left;
    mat-icon {
      margin: 3px;
    }
  }
}

.archive-card {
  background: #232222 !important;
  width: 400px;
  height: 100%;
  margin: 20px;
}


.expansion-date-title:hover {
  color: mat-color($blog-primary);
}
.expansion-date-icon {
  margin: 5px;
  position: absolute;
  line-height: 0.9em;
}

.archive-expansion {
  a {
    color: black;
  }
}

mat-list-item {
  background: white;
  margin-top: 5px;
  border-radius: 7px;
}

mat-list-item:hover {
  background: mat-color($blog-primary);
  cursor: pointer;
  a {
    color: white;
  }
}

// Media Queries
@media (max-width: 850px) {
  .hero-image {
    margin-top: 60px !important;
  }
}
@media (max-width: 530px) {
  .blogs-container {
    margin-top: 60px !important;
  }
}


@media (max-width: 600px) {
  .blog-section {
    margin-left: 0px;
  }
  .hero-container[_ngcontent-c2]
  .hero-image[_ngcontent-c2]
  .hero-quote[_ngcontent-c2] {
    width: 300px;
  }
  .hero-container[_ngcontent-c2]
  .hero-image[_ngcontent-c2]
  .hero-quote[_ngcontent-c2]
  h5[_ngcontent-c2] {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1100px) {
  .hero-container[_ngcontent-c2]
  .hero-button[_ngcontent-c2] {
    top: 70%;
  }
}

@media (max-width: 1100px) {
  .hero-container[_ngcontent-c2]
  .hero-button[_ngcontent-c2] {
    display: none;
  }
}
// Loaders
.loader {
  text-align: center;
  font-size: 24px;
  color: #46b7f8;
  margin-top: 50px;
  .mat-spinner {
    margin: auto;
  }
}
