<div>
  <!-- Hero Banner -->
  <div class="hero-banner">
    <div class="hero-background">
      <div class="hero-message">
          <div class="hero-quote mat-typography">
            <h3>Welcome</h3>
            <h4>to my learning journey</h4>
            <p>
              "I keep doing what I can't do yet in order to learn to be able to do it."
            </p>
            <i>
              - Vincent Van <span>Gogh</span>, artist
            </i>
            <div class="hero-buttons">
              <div class="buttons">
                <button class="explore-btn" mat-raised-button color="primary">Explore</button>
                <a target="_blank" href="{{ YOUTUBE_LINK }}" class="watchvid-btn" mat-stroked-button color="primary">Watch Videos</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="hero-banner-tail"></div>
  </div>
  <app-blog-list></app-blog-list>
</div>
