<div class="container">
  <mat-card class="blog-view-card">
    <mat-card-content>
      <div class="content-container">
        <mat-card class="card-content m-t-5">
          <div class="article-title">
             <h1>Deploy Angular 6 Project To Live Using Heroku</h1>
             <h2>Jul. 13, 2018</h2>
          </div>
          <mat-card-content>
            <div #blogContent class="content" [innerHTML]="blogArticle"></div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
