/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

// CSS UTILITIES
// Margins
.m-auto {
  margin: auto;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-t-3 {
  margin-top: 3px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

// Padding
.pad-3 {
  padding: 3px;
}

.pad-5 {
  padding: 5px;
}

.pad-t-150 {
  padding-top: 150px;
}

.pad-t-170 {
  padding-top: 170px;
}

// Text Alignments
.text-center {
  text-align: center;
}

// Font size
.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

// Background Colors
.bg-white {
  background: #ffffff;
}

.bg-black {
  background: #000000;
}
